<div class="container d-flex justify-content-end pb-2 w-75">
    <a type="button" href="{% url 'product:product' %}"
       class="btn btn-primary bg-gradient me-2">Προιόντα <i class="fa-solid fa-list"></i></a></a>
    <a type="button" href="{% url 'product:category' %}"
        class="btn btn-success bg-gradient me-2">Κατηγορίες <i class="fa-solid fa-tags"></i></a></a>
    <a type="button" href="{% url 'product:variant' %}" 
       class="btn btn-warning">Ποικιλίες <i class="fa-solid fa-list"></i></a></a>
</div>