{% extends 'base.html' %}
{% load static %}

{% block title %}Πληρωμές{% endblock %}

{% block content %}

{% include 'misc/page_title.html' with title='Πληρωμές' %}

{% include 'payment/misc/buttons.html' %}

{% include 'misc/form.html' %}

<div class="container py-3 mt-2 w-75 rounded-4">
    {% if objs %}
        <table class="mt-2 rounded-4">
        <thead>
            <tr class="bg-gradient">
            <th scope="col">Πηγη</th>       
            <th scope="col">Ποσο &#8364;</th>              
            <th scope="col">Ημερ/νια</th> 
            <th scope="col">Περιγραφη</th>   
            <th scope="col">Actions</th>      
            </tr>
        </thead>
            <tbody>           
                {% for obj in objs %}
                    <tr class="">
                        <td data-label="Παραληπτης">{{obj.source_id}}</td>
                        <td data-label="Ποσο">{{obj.amount}}</td>
                        <td data-label="Ημερ/νια">
                            {{obj.income_date.date}}</td>
                        <td data-label="Περιγραφη">{% if obj.summary %}{{ obj.summary }}{% else %}No Desc.{% endif %}</td>
                        <td >
                            <a type="button" class="btn btn-danger"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal-{{obj.id}}">
                                <i class="fa-solid fa-trash-can"></i></a>  
                            </a>                                      
                        </td>
                        <!-- Delete Modal -->
                        <div class="modal fade" id="exampleModal-{{obj.id}}" tabindex="-1" 
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Διαγραφή 
                                            {{obj.amount}}</h5>
                                        <button type="button" class="btn-close"
                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Προσοχή!Οριστική διαγραφή εισοδήματος.
                                        Είστε σίγουροι πως θέλετε να διαγράψετε
                                        το εισοδήμα{{ obj.amount}} που εγινε στις {{obj.income_date}}
                                        απο {{obj.source_id}}?
                                    </div>
                                    <div class="modal-footer">
                                        <a type="button" class="btn btn-primary"
                                        data-bs-dismiss="modal">Ακύρωση</a>
                                        <a type="submit"
                                        href="{% url 'payment:income-delete' obj.id%}"
                                        class="btn btn-danger me-1">Δαγραφη</a>
                                    </div>
                                </div>
                            </div>
                        </div>                  
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% include 'misc/empty_table.html' with msg='εισοδήματα' %}
    {% endif%}

</div>

{% endblock %}