<div class="container align-content-end text-end w-75 pb-2">
   <div class="btn-group flex-column flex-sm-row">
      <a type="button" href="{% url 'payment:payment' %}" class="btn btn-primary me-2 bg-gradient">Πληρωμες <i class="fa-solid fa-list"></i></a>
      <a type="button" href="{% url 'payment:payee' %}" class="btn btn-success bg-gradient me-2">Παραλήπτες <i class="fa-solid fa-users"></i></a>
      <a type="button" href="{% url 'payment:payee-label' %}" class="btn btn-warning bg-gradient  me-2">Κατηγορίες <i class="fa-solid fa-tags"></i></a>
      <a type="button" href="{% url 'payment:income' %}" class="btn btn-primary bg-gradient me-2">Εσοδα <i class="fa-solid fa-coins"></i></a>
      <a type="button" href="{% url 'payment:source' %}" class="btn btn-dark bg-gradient me-2">Πηγες Εσόδων <i class="fa-solid fa-vault"></i></a>
   </div>
</div>
