
<div class="col-xl-6 col-sm-6 col-12 ">
    <div class="card shadow p-2 bg-dark text-white rounded">
    <div class="card-content">
        <div class="card-body ">
            <div class="row">
                <div class="col-7 text-start">
                    <h5 class="text-right text-secondary">
                        {{icon}}
                        <em>{{title}}</em>
                    </h5>
                </div>
                <div class="col-5 text-end text-light rounded-4">
                    <h3 class="text-left text-warning ">
                        <em>{{info}}</em>
                    </h3>     
                </div>               
            </div>
        </div>
    </div>
    </div>
</div>