{% extends 'base.html' %}
{% load static %}

{% block title %}Προιόντα{% endblock %}

{% block content %}

{% include 'misc/page_title.html' with title='Προιόντα' %}
{% include 'product/misc/product_index.html' %}
{% include 'product/misc/buttons.html' %}
{% include 'misc/form.html' %}

<div class="container py-3 mt-2 w-75 rounded-4"> 
    <table class="mt-2 rounded-4">
      <thead>
        <tr class="bg-gradient">
          <th scope="col">Ονομασια</th>       
          <th scope="col">Ποιοτητα</th>  
          <th scope="col">Ποικιλια</th>                 
          <th scope="col">Κατηγορια</th>  
          <th scope="col">Actions</th>      
        </tr>
      </thead>
      <tbody>
          {% for obj in objs %}
              <tr>
                  <td data-label="Ονομασια">{{obj.product_name}}</td>
                  <td data-label="Ποιοτητα">{{obj.quality}}</td>
                  <td data-label="Ποικιλια">{{obj.variant}}</td>
                  <td data-label="Κατηγορια">{{obj.category}}</td>
                  <td >
                    <a type="button" href ="{{ obj.get_absolute_url }}" 
                            class="btn btn-primary">
                    <i class="fa-solid fa-chart-bar"></i>
                    </a>
                    <button type="button" class="btn btn-danger"
                        data-bs-toggle="modal" data-bs-target="#exampleModal-{{obj.id}}">
                        <i class="fa-solid fa-trash-can"></i></a>  
                    </button>                                   
                  </td>
                   <!-- Delete Modal -->
                    <div class="modal fade" id="exampleModal-{{obj.id}}" tabindex="-1" 
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Διαγραφή {{obj.category_name}}</h5>
                                    <button type="button" class="btn-close"
                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Προσοχή!Οριστική διαγραφή προιόντος.
                                    Είστε σίγουροι πως θέλετε να διαγράψετε το προιόν 
                                    {{obj.product_name}}-{{ obj.quality}}- {{obj.variant}}?
                                </div>
                                <div class="modal-footer">
                                    <a type="button" class="btn btn-primary"
                                    data-bs-dismiss="modal">Ακύρωση</a>
                                    <form action="{% url 'product:product-delete' id=obj.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger me-1">Δαγραφη</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>                  
              </tr>
          {% endfor %}
      </tbody>
    </table>
    {% include 'misc/pagination.html' %}
</div>

{% endblock %}